testData/data_cr.csv -text
*.sh text eol=lf

.github/workflows/project-keeper.sh         linguist-generated=true
.github/workflows/project-keeper-verify.yml linguist-generated=true
.github/workflows/broken_links_checker.yml  linguist-generated=true
dependencies.md                             linguist-generated=true
doc/changes/changelog.md                    linguist-generated=true
go.sum                                      linguist-generated=true
