name: Go
on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  matrix-build:
    strategy:
      matrix:
        go: ["1.25.5"]
        db: ["2025.1.8", "8.29.13", "7.1.30"]
        include:
          - go: "1.24.11"
            db: "2025.1.8"
    env:
      DEFAULT_GO: "1.25.5"
      DEFAULT_DB: "2025.1.8"
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-go-${{ matrix.go }}-db-${{ matrix.db }}
      cancel-in-progress: true
    name: Build with go version ${{ matrix.go }} and db ${{ matrix.db }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    defaults:
      run:
        shell: "bash"
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        id: go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: true

      - name: Enable testcontainer reuse
        run: echo 'testcontainers.reuse.enable=true' > "$HOME/.testcontainers.properties"

      - name: Go build
        run: |
          go clean
          go build
          go build ./...

      - name: Go test -short
        run: go test -v -count 1 -short ./...

      - name: Go test with Exasol version ${{ matrix.db }}
        env:
          DB_VERSION: ${{ matrix.db }}
        run: go test -v -p 1 -count 1 -coverpkg=.,./pkg/...,./internal/... -coverprofile=coverage.out ./...

      - name: SonarQube Scan
        if: matrix.go == env.DEFAULT_GO && matrix.db == env.DEFAULT_DB && github.repository_owner == 'exasol' && env.SONAR_TOKEN != null
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2
          skip-cache: true # Caching already done by actions/cache

      - name: Run vulnerability check
        if: matrix.go == env.DEFAULT_GO && matrix.db == env.DEFAULT_DB
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck -version
          govulncheck -format text -mode source -scan symbol -show verbose -test ./...

  build:
    needs: matrix-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - run: echo "Build successful"
